<div class="sidebar position-fixed top-0 bottom-0 bg-white border-end">
    <div class="d-flex align-items-center p-3">
        <a href="/lms/dashboard"
            class="sidebar-logo text-uppercase fw-bold text-decoration-none text-indigo fs-4">LMS</a>
        <i class="sidebar-toggle ri-arrow-left-circle-line ms-auto fs-5 d-none d-md-block"></i>
    </div>
    <ul class="sidebar-menu p-3 m-0 mb-0">
        <li class="sidebar-menu-item active">
            <a routerLink="./dashboard" href="#">
                <i class="ri-dashboard-line sidebar-menu-item-icon"></i>
                Dashboard
            </a>
        </li>
        <li class="sidebar-menu-item has-dropdown">
            <a href="#">
                <i class="ri-group-line sidebar-menu-item-icon"></i>
                Leads
                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
            </a>
            <ul class="sidebar-dropdown-menu">
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./AddLeads" href="#">
                        Add Leads
                    </a>
                </li>
                <li routerLink="./ManageLeads" class="sidebar-dropdown-menu-item has-dropdown">
                    <a href="#">
                        Manage Leads
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-menu-item has-dropdown">
            <a href="#">
                <i class="ri-shopping-bag-2-line sidebar-menu-item-icon"></i>
                Products
                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
            </a>
            <ul class="sidebar-dropdown-menu">
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./AddProducts" href="#">
                        Add Products
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./ManageProducts" href="#">
                        Manage Products
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-menu-item has-dropdown">
            <a href="#">
                <i class="ri-task-line sidebar-menu-item-icon"></i>
                Tasks
                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
            </a>
            <ul class="sidebar-dropdown-menu">
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./AddTasks" href="#">
                        Add Tasks
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./ManageTasks" href="#">
                        Manage Tasks
                    </a>
                </li>
            </ul>
        </li>
        <!-- <li class="sidebar-menu-item has-dropdown">
            <a href="#">
                <i class="ri-user-line sidebar-menu-item-icon"></i>
                Users
                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
            </a>
            <ul class="sidebar-dropdown-menu">
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./AddUsers" href="#">
                        Add Users
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./ManageUsers" href="#">
                        Manage Users
                    </a>
                </li>
            </ul>
        </li> -->
        <li class="sidebar-menu-item has-dropdown">
            <a href="#">

                <i class="ri-contacts-book-line sidebar-menu-item-icon"></i>
                Contacts
                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
            </a>
            <ul class="sidebar-dropdown-menu">
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./AddContacts" href="#">
                        Add Contacts
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./ManageContacts" href="#">
                        Manage Contacts
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-menu-item has-dropdown">
            <a href="#">
                <i class="ri-file-list-line sidebar-menu-item-icon"></i>
                Lead Status
                <i class="ri-arrow-down-s-line sidebar-menu-item-accordion ms-auto"></i>
            </a>
            <ul class="sidebar-dropdown-menu">
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./NewLeadProgression" href="#">
                        New
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./WorkingLeadProgression" href="#">
                        Working
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./QualifiedLeadProgression" href="#">
                        Qualified
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./FailedLeadProgression" href="#">
                        Failed
                    </a>
                </li>
                <li class="sidebar-dropdown-menu-item">
                    <a routerLink="./ClosedLeadProgression" href="#">
                        Closed
                    </a>
                </li>
            </ul>
        </li>
        <!-- <li class="sidebar-menu-item">
            <a href="#">
                <i class="ri-article-line sidebar-menu-item-icon"></i>
                Reports
            </a>
        </li> -->

    </ul>
</div>
<div class="sidebar-overlay"></div>


<main class="bg-light">
    <div class="p-2">
        <nav class="px-3 py-2 bg-white rounded shadow-sm">
            <i class="ri-menu-line sidebar-toggle me-3 d-block d-md-none"></i>
            <h3 class="fw-bold mb-0 me-auto">Dashboard</h3>

            <div>
                <button class="button-2" (click)="logout()"><b>Logout</b></button>
            </div>

        </nav>
        <div class="container">
            <router-outlet></router-outlet>
        </div>

    </div>
</main>
<ng-toast [style]="{width:'300px'}"></ng-toast>
<ng-confirm></ng-confirm>